proxmox_api_url          = "http://{PVE_IP}:8006/api2/json"
proxmox_api_token_id     = "{PVE_API_TOKEN_ID}" # "root@pam!terraform"
proxmox_api_token_secret = "{PVE_API_TOKEN_SECRET}"

pve_host_address         = "{PVE_HOST_ADDRESS}"
pve_ssh_user             = "root"
pve_ssh_private_key_path = "~/.ssh/id_rsa"

vm_ssh_public_key = "{PUBLIC_KEY}"
template_name     = "ubuntu-2404-template"

network_bridge       = "vmbr0"
ansible_ssh_key_path = "~/.ssh/id_rsa"

test_vms = {
  test-vm1 = {
    vmid      = 7001
    cores     = 1
    memory    = 2048
    disk_size = "50G"
    ip = "192.168.11.55/24"
    gw = "192.168.11.1"
  },
  test-vm2 = {
    vmid      = 7002
    cores     = 1
    memory    = 2048
    disk_size = "50G"
    ip = "192.168.11.56/24"
    gw = "192.168.11.1"
  }
}

## openssl passwd -6 'your_password'
vm_password = "$6$KFCj/SjyVyPBZ7nB$3QYGhEGEwT4oqcHKkSKzjrDINUEVCG0NExkCa9ITq/yeg.5G0Qx9BhrJfaT2IZwoCCTf606CSruFrcCHoqujF0"