proxmox_api_url          = "http://{PVE_IP}:8006/api2/json"
proxmox_api_token_id     = "{PVE_API_TOKEN_ID}" # "root@pam!terraform"
proxmox_api_token_secret = "{PVE_API_TOKEN_SECRET}"

pve_host_address         = "{PVE_HOST_ADDRESS}"
pve_ssh_user             = "root"
pve_ssh_private_key_path = "~/.ssh/id_rsa"

vm_ssh_public_key = "{PUBLIC_KEY}"
template_name     = "ubuntu-2404-template"

network_bridge       = "vmbr0"
ansible_ssh_key_path = "~/.ssh/id_rsa"

all_vms = {
  "ops-k3s" = {
    vmid      = 9100
    cores     = 8
    memory    = 16384
    disk_size = "50G"
    ip = "192.168.11.50/24" # Optional
    gw = "192.168.11.1" # Optional
  }
}

# openssl passwd -6 'your_password'
vm_password = "$6$KFCj/SjyVyPBZ7nB$3QYGhEGEwT4oqcHKkSKzjrDINUEVCG0NExkCa9ITq/yeg.5G0Qx9BhrJfaT2IZwoCCTf606CSruFrcCHoqujF0"